<div class="host">
  <h1 class="host__main-heading">A Brew for You 2</h1>
  <div class="host__input-tile">
    <app-quick-input-component class="host__input-tile-field" inputBoxTitle="Beer Name"></app-quick-input-component>
    <app-quick-input-component class="host__input-tile-field" inputBoxTitle="Beer Type"></app-quick-input-component>
    <app-quick-input-component class="host__input-tile-field" inputBoxTitle="Brewery"></app-quick-input-component>
    <app-quick-input-component class="host__input-tile-field" inputBoxTitle="Rating"></app-quick-input-component>
    <app-quick-input-component class="host__input-tile-field" inputBoxTitle="ABV %"></app-quick-input-component>
  </div>
  <div class="host__table-container">
    <app-quick-table class="host__input-tile-field"></app-quick-table>
  </div>
</div>
